//  #root {
//    min-width: 350px;
//    margin: 0 auto;
//    padding: 2rem;
//  }

//  .logo {
//    height: 6em;
//    padding: 1.5em;
//    will-change: filter;
//    transition: filter 300ms;
//  }
//  .logo:hover {
//    filter: drop-shadow(0 0 2em #646cffaa);
//  }
//  .logo.react:hover {
//    filter: drop-shadow(0 0 2em #61dafbaa);
//  }

//  @keyframes logo-spin {
//    from {
//      transform: rotate(0deg);
//    }
//    to {
//      transform: rotate(360deg);
//    }
//  }

//  @media (prefers-reduced-motion: no-preference) {
//    a:nth-of-type(2) .logo {
//      animation: logo-spin infinite 20s linear;
//    }
//  }

//  a {
//    font-weight: 500;
//    color: #252525;
//    text-decoration: inherit;
//  }
//  a:hover {
//    color: #252525;
//  }

//  body {
//    margin: 0;
//    display: flex;
//    place-items: center;
//    min-width: 320px;
//    min-height: 100vh;
//  }

//  h1 {
//    font-size: 3.2em;
//    line-height: 1.1;
//  }

//  @media (prefers-color-scheme: light) {
//    :root {
//      color: #252525;
//      background-color: #ffffff;
//    }
//    a:hover {
//      color: #252525;
//    }
//    button {
//      background-color: #f9f9f9;
//    }
//  }

//  .card {
//    padding: 2em;
//  }

//  .read-the-docs {
//    color: #888;
//  }

//  .registration-page {
//    background-color: #d0cdd7;
//    width: 60%;
//    padding: 4rem;
//  }

//  .registration-header {
//    align-items: center;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    text-align: "center";
//    background-color: "green";
//  }

//  .registration-body {
//    display: flex;
//    flex-direction: column;
//    text-align: left;
//    background-color: #d0cdd7;
//    width: 100%;
//  }

//  /* !Fix me later */
//  .button-layout {
//    display: flex;
//    justify-content: space-between;
//    gap: 2rem;
//    margin-bottom: 1rem;
//    margin-top: 0;
//  }
//  .button-layout2 {
//    display: flex;
//    justify-content: space-between;
//    gap: 2rem;
//    margin: 1rem 0;
//  }

//  button {
//    border-radius: 8px;
//    border: 1px solid transparent;
//    padding: 0.6em 1.2em;
//    font-size: 1em;
//    font-weight: 600;
//    font-family: inherit;
//    background-color: #d9d9d9;
//    cursor: pointer;
//    transition: border-color 0.25s;
//    color: #252525;
//  }
//  button:hover {
//    border-color: #cacaca;
//  }
//  button:focus,
//  button:focus-visible {
//    outline: 4px auto #c3c3c3;
//  }


//  /* LOGGING IN PAGE  */
//  .login-body {
//    display: flex;
//    flex-direction: column;
//    text-align: left;
//    background-color: #d0cdd7;
//    width: 60%;
//    padding: 4rem;
//  }

//  .login-body button {
//    padding: .5rem;
//    margin: .5rem;

//  }

//  .login-body button:focus,
//  .login-body button:focus-visible {
//    outline: 4px auto #252525;
//  }
//  .login-body button:hover {
//    outline: 4px auto #252525;
//  }

//  .login-header {
//    display: flex;
//    flex-direction: column;
//    padding: 1rem;
//    align-items: center;
//    justify-content: space-around;
//    text-align: center;
//    font-weight: 800px;
//  }