@import "Variables";


@mixin resize($screen-width, $x) {
    width: 100%;
    padding: 0 $screen-width - $x;
}

.login-body{
    width: 40%;
    height: 100vh;
    background-color: $lilac;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 8vw;
    padding-right: 8vw;

    @media (max-width: 1200px){
       @include resize(1200px, 900px);
    }

    @media (max-width: 800px){
        @include resize(800px, 690px);
    }

    label{
        font-weight: bold;
    }

    .formatted-text{
        overflow: hidden;
        text-align: center;
        font-weight: bold;
    }

    .formatted-text:before, .formatted-text:after{
        content: "";
        background-color: #000;
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 50%;
        margin: 30px 0;
    }

    .formatted-text:before{
        right: 0.5em;
        margin-left: -50%;
    }

    .formatted-text:after{
        left: 0.5em;
        margin-right: -50%;
    }
 
}

.login-header{
    padding-top: 25vh;
    padding-bottom: 40px;
    text-align: center;

    h2{
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.bg-image {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
    background-image: url('Background.jpg');
    background-position: 0 0;
    background-repeat:no-repeat;
    background-size: cover;

    @media (max-width: 1200px){
        display: none;
    }
}



















