@import "Variables";
@import 'bootstrap/dist/css/bootstrap.min.css';

.main-page {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $lilac;
}

.header{
    position: sticky;
    top: 0;
    margin-top: 0;
    height: 50px;
    width: 100%;
    background-color: $light-grey;
    z-index: 2;

    .input-group{
        width: 700px;
        margin: auto;
        padding: 5pt;

        @media (max-width: 700px) {
            width: 90vw;
        }
    }
}

.display-box{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-items: center;
    height: 800px;
    gap: 100px 200px;
    justify-content: center;
    align-content: center;
    z-index: 1;
    
    @media (max-width: 660px){
        grid-template-columns: auto;
        align-content: space-between;
        margin: 5rem 0;
    }

    /* Alignment for larger screen */
    @media (min-height: 900px){
        height: 65rem;
    }

}

        

/* Customize card style */
.card{
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 14rem;

    @media (max-width: 660px){
        width: 11rem;
        .card-title{
            margin-top: -20px;
        }
    }

}

.card-img-top{
    width: 200px;
    height: 200px;
    padding: 0 20px;
}




