@import "Variables";

.registration-page {
    width: 100%;
    height: 100vh;
    background-color: $lilac;
    padding-top: 5rem;
    
}

.btn-right-space{
    margin-right: 20px; 
}

input{
    outline: none;
    border-style: none;
    border-radius: 3pt;
    box-shadow: 0 0 2pt 0.4pt black inset;
    padding-bottom: 10px;
}

input:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 5pt 0.5pt grey;
}

label{
    margin-top: 10px;
}

/*.registration-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: "center";
    background-color: "green";
}*/
    
  .registration-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    width: 450px;
    padding: 3rem;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}