@import "Variables";

.ResearchPageBody {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
                  to right,
                  $lilac 0%,
                  $lilac 15%,
                  white 15%,
                  white 100%
  );
}
