$lilac: #D9DBF1;
$rose-quartz: #BAA1A7;
$english-violet: #544E61;
$light-grey: #D0CDD7;
$dark-teal: #416165;
$grey-purple: #5d69ae;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$fa-font-path: "./fontawesome-free-6.4.2-web/webfonts";