@import "../../../Styles/Variables.scss";

.page-body{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $lilac;
}

.top-menu-wrapper{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    background-color: white;
    height: 80px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;

    .link{
        padding: 25px 25px ;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        border-inline: 0.7px solid rgba(128, 128, 128, 0.5);
        text-decoration: none;
        color: black;
        height: 100%;

        &:hover, :focus{
            padding-top: 25px;
            background-color: rgba(128, 128, 128, 0.2);
        }

    }

    .active{
        padding-top: 25px;
        border-bottom: 4px ridge $rose-quartz;
        box-shadow: 5px 3px 10px inset rgba(128, 128, 128, 0.2);
    }
}

.editor{
    position: relative;
    top: 0;
    left: 0;
    background-color: snow;
    height: 100vh;
    overflow: auto;
    
    &::-webkit-scrollbar{
        width: auto;
    }

    .side-menu{
        position: sticky;
        top: 0;
        width: 13.60rem;
        float: left;
        border-right: 2px ridge rgba(136, 131, 131, 0.2);
        height: auto;

        @media (max-width: 1200px){
            width: 10rem;
        }

        @media (max-width: 1000px){
            display: none;
        }

        li{
            font-size: 16px;
            padding-top: 20px;

            @media (max-width: 1200px){
                font-size: 15px;
                margin-left: -15px;
            }

            img{
                width: 1em;
                height: 1em;
                margin-right: 10px;
            }

            a{
                text-decoration: none;
                color: grey;

                &:hover, :focus{
                    color: black;
                    font-weight: 500;
                    box-shadow: 1px 1px 5px 8px lavender;
                    background-color: lavender;
                }
            }
        }
    }
    
    .main-workspace{
        //position: absolute;
        //top: 0;
        //left: 15rem;
        //width: calc(100% - 15rem);
        display: flex;
        flex-grow: 1;
        padding-top: 50px;
        padding-left: 100px;
 

        @media (max-width: 1200px){
            padding-left: 40px;
        }

        .title{
            position: absolute;
            max-height: 30rem;

            .borderless-input{
                &[contentEditable]{
                    outline: 0px solid transparent;

                    &:focus{
                        box-shadow: 1px 1px 5px 1px $rose-quartz;            
                    }
                }
            }

            .survey-title{
                width: 50rem;
                min-height: 4rem;
                font-size: 30px;
                font-weight: 700; 

                @media (max-width: 1000px){
                    width: (100vw - 20vw);
                }

                //Placeholder text
                &[contentEditable]:empty:before{
                    content: "Survey Title";
                    color: gray; 
                }

            }

            .description{
                width: 50rem;
                min-height: 4rem;
                font-size: 20px;

                @media (max-width: 1000px){
                    width: calc(100vw - 20vw);
                }

                //Placeholder text
                &[contentEditable]:empty:before{
                    content: "Description";
                    color: gray;
                }
            }

            hr{
                background-color: $rose-quartz;
                height: 3px;
            }
            
        }

        .card-wrapper{
            position: relative;
            margin-top: 180px; 
        
            .adding-function{
                position: absolute;
                margin-top: 10px;
                height: 3rem;
                width: 40rem;
                background-color: whitesmoke;
                border-radius: 5px;
                box-shadow: 1px 1px 5px 2px rgba(136, 131, 131, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media (max-width: 800px){
                    width: (100vw - 25vw);
    
                }
            }

        }

    }

    .preview{
        padding-left: 25%;

        @media (max-width: 1200px){
            padding-left: 10%;
        }
    }
}

