@import "../../Styles/Variables.scss";
.BubbleProfile {
    text-align: center;
  }
  
  .BubbleProfile-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .BubbleProfile-logo {
      animation: BubbleProfile-logo-spin infinite 20s linear;
    }
  }
  
  .BubbleProfile-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .BubbleProfile-link {
    color: #61dafb;
  }
  
  @keyframes BubbleProfile-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-bg);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .menu-trigger img{
    top: 5px;
    right: 155px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
  }
  
  .bubble-menu{
    position: absolute;
    top: 100px; 
    right: 20px;  
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px rgba(136, 131, 131, 0.2);
    padding: 10px 20px;
    width: 200px;
    z-index: 100;
  }
  
  .bubble-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
    
  }
  
  .active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  .heading{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.2rem;
    overflow: hidden;
  }
  
  h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  .bubble-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .bubble-menu ul li:hover, :focus a{
    color: $dark-teal;
    cursor: pointer;
  }
  
  .bubble-menu ul li:hover, :focus img{
    //opacity: 0.7;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }
    