.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top of other elements */
  opacity: 1 !important;
}

/* Modal container styles */
.modal-main {
  background: #fff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Box shadow for a raised effect */
  max-width: 80%;
  position: relative;
}


  /* Size guide for modal body */
  .extra-small{
    width: 400px;
    height: 320px;
  }

  .small{
    width: 420px;
    height: 520px;
  }

  .medium{
    width: 500px;
    height: 590px;
  }

  .large{
    width: 800px;
    height: 750px;
  }
  
  /* Close button styles */
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Modal content styles */
  .modal-content {
    margin-top: 20px;
  }

.form-box{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
  padding: 10px;

  
    & label{
      font-family: sans-serif;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: -10px;
      text-align: start;
    }

  .single-item{
    width: 100%;
  }

  .full-length-item{ 
    grid-column: 1 / span 2;
  }

  .text-box{
    grid-row: 3 / span 6;
  }
}