.study-form {
  max-width: 50px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: bold;
    }

    input[type='text'],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .error-message {
      color: red;
      margin-top: 5px;
    }
  }
}
