@import "../../Styles/Variables.scss";

.page-body{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $lilac;
}

.top-menu-wrapper{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    background-color: white;
    height: 80px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;

    a{
        padding: 0 25px ;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        border-inline: 0.7px solid rgba(128, 128, 128, 0.5);

        &:hover, :focus{
            height: 100%;
            padding-top: 25px;
            background-color: rgba(128, 128, 128, 0.2);
        }

        &:active{
            border-bottom: 3px ridge $english-violet;
            font-weight: 700;
        }

    }
}

.editor{
    position: relative;
    top: 0;
    left: 0;
    
    .side-menu{
        width: 15rem;
        float: left;
        background-color: snow;
    }
    
    .main-workspace{
        //position: absolute;
        //top: 0;
        //left: 15rem;
        //width: calc(100% - 15rem);
        //display: flex;
        //flex-grow: 1;
        background-color: whitesmoke;
        height: 100%;
        //overflow-y: scroll;

        .title{
            
            input[type=text] {
                border: none;
                background-color: none;
                outline: 0;
                font-size: 30px;
                width: 300px;
                height: 40px;
            }
        }
    }

    
}

