@import "../../styles/variables";
@import 'bootstrap/dist/css/bootstrap.min.css';


.nav-link{
  transition: all 0.2s;
}

.nav-link:hover{
  border-bottom: 3px solid black;
}
.container-md{
  font-weight: bold;
}

.navbar{
  background-color: $light-grey;
}


.search-bar{
  display: flex;

  @media (max-width: 600px){
    display: none;
  }
}
