@import "../../Styles/Variables.scss";

.logo-button {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    height: 60px;
    width: 60px;
    border: none;
    background: transparent;
    z-index: 10;

    &:hover, &:focus {
        opacity: 0.7;
    }
}

.img-bottom-right {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border: none;
    background: transparent;
}

.accessibility-menu {
    position: fixed;
    top: 0;
    right: 2rem;
    max-width: 20rem;
    max-height: 100%;
    background-color: rgba(12, 13, 40, 1);
    overflow: hidden;
    z-index: 11; //Must be higher than logo to cover
    transition: transform 0.3s ease;
    
    &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(206, 208, 227);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;    
    }
    
}

.reset-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 3px;
    left: 0px;
}

.close-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 3px;
    left: 78%;
}

.contrast-button {
    background-color: white;
    color: black;
    border: none;
    height: 105px;
    width: 140px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 15px;
    border-radius: 10px;
}

.link-button {
    background-color: white;
    color: black;
    border: none;
    height: 105px;
    width: 140px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 50%;
    border-radius: 10px;
}


.show-menu {
    width: 100%;
    height: 100%;
}
